/*-------------------------------
          GLOBAL
---------------------------------*/
* {
  margin: 0;
  padding: 0;
}
:root {
  --background-white_ligth: #fff;
  --background-blue_dark: #040c18f7;
  --dark-green: #042628;
  --green-smile: #00ff3aa6;
  --black: #000000;
  --gray-black: #0e0e0e;
}

/*----------------------------------
          HEADER
 -----------------------------------*/
header {
  background-color: var(--green-smile);
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
}
main {
  background-color: var(--green-smile);
  height: 610px;
  width: 100vw;
}
.title-container {
  margin-left: 3%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container h1 {
  font-family: "Mulish", sans-serif;
  padding-left: 5px;
}
.title-container i {
  font-size: 30px;
}
.search_container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40%;
  height: 40px;
  top: 5%;
  right: 43%;
  z-index: 50;
}
.search_container input {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: 0;
}
.search_container button {
  background-color: transparent;
  position: absolute;
  border: none;
  right: 5px;
  top: 5px;
  height: 20px;
  width: 30px;
  outline: 0;
}
#icon-search {
  color: var(--black);
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin-top: 8px;
}
#icon-search:hover {
  color: gray;
}
.dark-mode_icon {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5%;
  top: 6%;
  background-color: transparent;
  border: none;
  outline: 0;
}
#moon {
  font-size: 25px;
  color: var(--background-blue_dark);
}
#sun {
  font-size: 30px;
  color: yellow;
  display: none;
}
/*-----------------------------------------*/
.search {
  position: relative;
  width: 70%;
  left: 15%;
  right: 15%;
  top: 15%;
  display: block;
}
.search-information {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-information img {
  max-height: 390px;
  max-width: 390px;
  padding: 5px;
  margin-top: 20px;
}
.search-information p {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 180%;
  padding: 10px;
  background-color: var(--background-white_ligth);
  border-radius: 10px;
  height: 150px;
}
/*-----------------------------------------
          BLOCK CARDS
 ------------------------------------------*/
.block-cards {
  display: none;
  position: absolute;
  right: 10%;
  top: 20%;
  width: 80%;
  height: 450px;
}
.block-cards_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/*-----------------------------------------
            CARD INFO
 ------------------------------------------*/
.first-info {
  height: 450px;
  width: 60%;
  position: relative;
  background-color: var(--background-white_ligth);
  border-radius: 10px;
  border: none;
  padding: 10px;
}
/*----------------------------------------
           CARD WEATHER
 -----------------------------------------*/
.card-Weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: none;
  background-color: var(--background-white_ligth);
  height: 450px;
  max-width: 30%;
  min-width: 30%;
  padding: 10px;
}
.location .city {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: bold;
}
.location .date {
  text-align: center;
  margin-bottom: 20px;
}
/*---------------------------------------
                FOOTER
 ----------------------------------------*/
footer {
  background-color: #030d1a;
  height: 300px;
  width: 100vw;
}
