/*-------------------------------
          GLOBAL
---------------------------------*/
* {
  margin: 0;
  padding: 0;
}
:root {
  --background-white_ligth: #fff;
  --background-blue_dark: #040c18f7;
  --dark-green: #042628;
  --green-smile: #5adc78;
  --black: #000000;
  --gray-black: #0e0e0e;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: var(--green-smile);
  transition: 0.5s ease all;
}
body.dark {
  background-color: var(--background-blue_dark);
  transition: 0.5s ease all;
}

/*----------------------------------
          HEADER
 -----------------------------------*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
  padding: 20px 20px;
  z-index: 50;
  margin-bottom: 20px;
  background-color: var(--green-smile);
  transition: 0.5s ease all;
}
body.dark header {
  background-color: #030d1a;
  transition: 0.5s ease all;
}

.title-container {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 20px;
  color: var(--background-blue_dark);
  transition: 0.5s ease all;
}
body.dark .title-container {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}
.title-container h1 {
  font-family: "Noto Sans HK", sans-serif;
  font-size: 3.8rem;
  line-height: 4rem;
  font-weight: bold;
  padding-left: 8px;
}
.title-container i {
  font-size: 4.6rem;
}
.search-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 60%;
  margin-right: 60px;
}
.search-block_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 85px;
}
.search-block_container input {
  border-radius: 100px;
  border: solid gray 0.1px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  outline: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #757575;
}
.search-block_container button {
  position: absolute;
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
  outline: 0;
  right: 5px;
  top: calc(50% - 15px);
}
#icon-search {
  color: var(--black);
  font-size: 3rem;
  width: 100%;
  height: 100%;
}
#icon-search:hover {
  color: gray;
}
.container_options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100px;
  margin-left: 200px;
}
#swich {
  background-color: var(--background-blue_dark);
  border-radius: 1000px;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
}
#swich::after {
  content: "";
  display: block;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: -1s ease all;
  background-color: var(--background-white_ligth);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#swich.active {
  background-color: var(--background-white_ligth);
}
#swich.active::after {
  background-color: var(--background-blue_dark);
  left: unset;
  right: 0;
}
#swich span {
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: none;
  border: none;
  border-radius: 60px;
  outline: 0;
  font-size: 4rem;
}
#moon {
  color: var(--background-white_ligth);
}
#sun {
  color: #6c63ff;
}
.optionsCountries {
  height: 60px;
  width: 90px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 5rem;
  color: var(--background-blue_dark);
  transition: 0.5s ease all;
  display: none;
}

body.dark .optionsCountries {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}
.optionsCountries span {
  display: flex;
}
.optionsCountries span i {
  margin-left: 10px;
}

.countries-list-action {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: 0;
  display: none;
}
#icon-listCoutry {
  font-size: 5rem;
  color: var(--background-blue_dark);
}

/*-----------------------------------------*/
main {
  height: 100vh;
  width: 100%;
  min-width: 320px;
  padding: 5%;
  padding-top: 25%;
}

.search {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20%;
}
.search-information {
  width: 80%;
  height: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.search-information_text {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-left: solid #6c63ff 20px;
  font-size: 5.6rem;
  line-height: 5.8rem;
  font-weight: bold;
  color: var(--background-blue_dark);
  transition: 0.5s ease all;
}
body.dark .search-information_text {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}
.search-information img {
  height: 490px;
  width: 490px;
  margin: 0 auto;
}

/*----------------------------------------
         BLOCK CAROUSEL
------------------------------------------*
.carouselContainer{
width: 100%;
height: 100%;
display: flex;
flex-direction:column;
}
/*-----------------------------------------
          BLOCK CARDS
 ------------------------------------------*/
.block-cards {
  display: none;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.block-cards_soon {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
  width: 100%;
}
/*-----------------------------------------
            CARD INFO
 ------------------------------------------*/
.card_country {
  height: 1050px;
  width: 100%;
  position: relative;
  background-color: var(--background-white_ligth);
  border-radius: 10px;
  border: none;
  padding: 20px;
  box-shadow: 2px 7px 4px 4px rgba(89, 73, 30, 0.3);
  font-family: "Mulish", sans-serif;
  margin-bottom: 100px;
  transition: 0.5s ease all;
}
body.dark .card_country {
  background-color: #4c7a8240;
  box-shadow: none;
  transition: 0.5s ease all;
}
.container_flagname {
  width: 100%;
}
.c_flag {
  width: 600px;
  height: 300px;
  margin-top: 5%;
}
.c_name {
  margin: 2% 5%;
  text-align: initial;
  font-size: 5rem;
  font-weight: bold;
  line-height: 5.5rem;
}
body.dark .c_name {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}
/*----------------------------------------*/
.container_info {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
.info_one {
  width: 40%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}
.info_one h3 {
  margin-bottom: 5px;
}
.info_one p {
  margin-bottom: 20px;
}
body.dark .info_one {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}

.info_two {
  width: 40%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}
.info_two h3 {
  margin-bottom: 5px;
}
.info_two p {
  margin-bottom: 20px;
}

body.dark .info_two {
  color: var(--background-white_ligth);
  transition: 0.5s ease all;
}

/*----------------------------------------
           CARD WEATHER
 -----------------------------------------*/
.card-Weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: none;
  background-color: var(--background-white_ligth);
  height: 450px;
  width: 100%;
  padding: 10px;
  box-shadow: 2px 7px 4px 4px rgba(89, 73, 30, 0.3);
}
.location .city {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: bold;
}
.location .date {
  text-align: center;
  margin-bottom: 20px;
}
/*--------------------------------------*/
.section-button_contact {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 15px;
  background-color: #141414;
  right: 0px;
  top: 92.5%;
}
.section-button_contact button {
  height: 90px;
  width: 90px;
  background-color: var(--background-white_ligth);
  border-radius: 100px;
  border: none;
}
/*---------------------------------------
                FOOTER
 ----------------------------------------*/
footer {
  height: 380px;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  margin-top: 50%;
  background-color: #030d1a;
}
.APIs-used {
  margin-top: 105px;
  font-size: 3rem;
  font-weight: 500;
}
.APIs-used_container {
  color: var(--background-white_ligth);
}
.APIs-used_container ul {
  list-style: none;
}
.APIs-used_container ul li a {
  color: var(--background-white_ligth);
  padding-top: 10px;
}
.repo-button {
  margin-top: 140px;
}
.repo-button_container button {
  background-color: #4c7a8240;
  color: var(--background-white_ligth);
  border: none;
  border-radius: 10px;
  padding: 15px;
  height: 100px;
  width: 230px;
  font-size: 3rem;
  font-weight: 500;
}
